body {
  background-color: #555555;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/background-image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.builder {
  display: flex;
  justify-content: space-around;
}

.bodyContainer {
  width: 75%;
  
  
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.head {

  height: 20%;
  margin-bottom: -2%;
}
.torso {

  height: 40%;
}

.legs {
margin-top: -5 %;
  height: 45%;
}

.HeadImg {
  max-height: 170px;
}

.TorsoImg {
  max-height: 400px;
}

.LegsImg {
  max-height: 400px;
}



.buttonContainer{
  width: 25%;
  display: flex;
  flex-direction: column;

  align-items: center;
  
}

/* img {
  max-height: 50px;
} */


button {
  background-color: #f5c299;
  font-size: 25px;
  border-radius: 20%;
  color: black;
}

.buttonP {
  font-size: 25px;
  
}