body {
  background-color: #555555;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.builder {
  display: flex;
  justify-content: space-around;
}

.bodyContainer {
  width: 75%;
  
  background-color: rgb(218, 23, 23);
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.head {

  height: 20%;
  margin-bottom: -2%;
}
.torso {

  height: 40%;
}

.legs {
margin-top: -5 %;
  height: 45%;
}

.HeadImg {
  max-height: 170px;
}

.TorsoImg {
  max-height: 400px;
}

.LegsImg {
  max-height: 400px;
}



.button {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}

/* img {
  max-height: 50px;
} */